.row-main_alternatives {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alternatives {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    /* padding: 0 0 0 60px; */
}

.alternatives_span {
    margin-bottom: 25px;
    border-radius: 20px;
    padding: 10px;
}

.alternatives-img  {
    padding: 0 40px;
}

.alternatives-img img {
    min-width: 400px;
    max-width: 1000px;
    height: 400px;
    border-radius: 25px;
}