.time-question-student {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    width: 90px;
    height: 90px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    z-index: 10;
}