.students {
    height: 20%;
    background-color: red;
}

.user-name {
    margin-right: 5px;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-negative {
    width: 50px !important;
    height: 65px !important;
    margin-bottom: 35px;
}